<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="listener.AnnotationTransformer"/>
        <listener class-name="listener.ExtentTestNGIReporterListener"/>
        <listener class-name="listener.MyITestListener"/>
    </listeners>
    <test verbose="0" preserve-order="true" name="chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="SearchTest">
                <methods>
                <include name="testSearch2"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <test verbose="2" preserve-order="true" name="firfox">
        <parameter name="browser" value="firefox"/>  <!--参数：name必须为browser，value有3个可选：chrome,firefox,edge，分别对应不同浏览器-->
        <classes>
            <class name="SearchTest">
                <methods>
                <include name="testSearch"/>
                </methods>
            </class>
        </classes>
    </test> <!-- Test -->
    <!--<test verbose="2" preserve-order="true" name="ie">-->
    <!--<parameter name="browser" value="ie"/>-->
    <!--<classes>-->
    <!--<class name="Profile2Test"/>-->
    <!--</classes>-->
    <!--</test> &lt;!&ndash; Test &ndash;&gt;-->
    <!--<test verbose="2" preserve-order="true" name="edge">-->
    <!--<parameter name="browser" value="edge"/>-->
    <!--<classes>-->
    <!--<class name="Profile2Test"/>-->
    <!--</classes>-->
    <!--</test>-->
</suite> <!-- Suite -->